<%- include("Header") -%>

<div class="about">
  <h1>What is this project?</h1>
  <p>
    I'm passionate about making communication accessible to everyone. That's why I created this sign language machine learning model as part of the Research for All AI Hackathon.
  </p>



  <div class="breakdown">
    <p>
        This project is just the beginning! We're excited to explore the potential of this technology further. Here's a glimpse into what's next:
    </p>

    <div class="object">
        <h2>Collaboration</h2>
        <p>
            I'm reaching out to the National Association of the Deaf (NAD) and other sign language organizations (like ASL) to share our findings and explore how our model can be integrated into existing resources.
        </p>
    </div>

    <div class="object">
        <h2>Model Improvement</h2>
        <p>
          I'm committed to ongoing research and development. This includes fine-tuning the model by adjusting the network architecture.
        </p>
        <p>
            This could be anywhere from experimenting with different network structures, such as adding or removing layers in the Deep Neural Network (DNN).
        </p>
        <p>
            Optimizing activiation functions is also relevant. We'll explore different activiation functions within the model to improve its accuracy.
        </p>
        <p>
            We'll also utilize continuous learning. We'll keep feeding the model more data to enhance its sign language recognition capabilities.
        </p>
    </div>

    <div class="object">
      <h2>Stay tuned!</h2>
      <p>
          Stay tuned for updates on our progress! I believe that by working together, we can make a significant impact on the lives of people who rely on sign language for communication.
      </p>
      <p>
          If you want to contact me, feel free to do so at my LinkedIn: <a href="https://www.linkedin.com/in/christopher-pray-23b499258/">https://www.linkedin.com/in/christopher-pray-23b499258/</a>
      </p>
    </div>
  </div>
</div>

<%- include("Footer") -%>
