<%- include("Header") -%>

<div class="download-section">
    <h1>Download in 3 Easy Steps</h1>
    <h2>1. Copy this command</h2>
    <p>
      And run it in the terminal: <span id="highlight-command"> git clone https://github.com/Tacobellcommercial/hackathon-sign-language-ai.git</span>
    </p>
    <img src="https://i.gyazo.com/71d2065887c0d52b6ee53b56117c9b39.png" alt="folder-image"/>
    <h2>2. CD into the folder</h2>
    <p>
      Command: <span id="highlight-command">cd hackathon-sign-language-ai</span>
    </p>
    <img src="https://i.gyazo.com/a1f6b8610a3c27c21123900951baffc5.png" alt="folder-cd" />

    <h2>3. Run this in terminal</h2>
    <p>
      And get ready to start (make sure your webcam is connected!): <span id="highlight-command">python main.py</span>
    </p>
    <img src="https://i.gyazo.com/dd1455fcbac00a49bdd603960b2d739c.png" alt="final" />
</div>

<%- include("Footer") -%>
