<%- include("Header", {title: title}) -%>

  <div class="header">
    <h1 class="title-up">Sign Language Machine Learning Model</h1>
    <p class="title-up">
      Machine learning model that works with a camera that can depict certain American Sign Language signs and convert them to English in real-time.
    </p>

    <a href="/features" type="button" class="btn btn-warning">Features</a>

    <a type="button" href="/about" class="btn btn-outline-warning">About</a>

  </div>

  <div class="skills">
    <div class="container">
      <div class="row">
        <div class="col-md">
          <i class="fa-solid fa-bullseye"></i>
          <h2>90% Precision Accuracy.</h2>
          <p>And with further research, this number will go up.</p>
        </div>
        <div class="col-md">
          <i class="fa-solid fa-person"></i>
          <h2>11 Million People.</h2>
          <p>In the United States alone, 11 million people suffer from some sort of hearing loss.</p>
        </div>
        <div class="col-md">
          <i class="fa-solid fa-hand-holding-heart"></i>
          <h2>Let's try to help.</h2>
          <p>This language model helps bridge the gap between language and hearing.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="how-it-works">
    <h1>How it Works</h1>

    <div>
        <img src="https://i.gyazo.com/fb79dc825c29f6d916815b8e4dcb3226.png" />
        <h2>Show your hand</h2>
        <p>And get results, with 90% accuracy. My AI Machine Learning model reliably predicts 5 labels and 2 hand gestures.</p>
    </div>

    <div>
        <img  src="https://i.gyazo.com/7aca3c9804259d8d53482f87bf9a9f48.png" />
        <h2>Hundreds of Images</h2>
        <p>My AI model is trained over hundreds of sign language gestures, ensuring reliable predictions in hand gestures.</p>
    </div>

  </div>

  <div class="cta">
    <h1>What are you waiting for?</h1>
    <p>Download today.</p>
    <a href="/download" class="btn btn-warning">Download</a>

  </div>


<script src="show_title.js"></script>
<%- include("Footer") -%>
